<h1 class="cadastro-text">Adicione a sua bebida não alcoólica preferida</h1>


<div id="main-container">
<form action="/cadastro/naoalcoolico" method="POST" class="form" id="register-form" name="formCadastro"> 

    <div class="full-box">
        <label for="nome">Nome</label>
        <input class="half-box" type="text" name="nome" placeholder="Digite o nome do produto">
    </div>

    <div class="half-box spacing">
        <label for="tamanho">Tamanho</label>
        <input class="half-box" type="text" name="tamanho" placeholder="Digite o tamanho do produto">
    </div>

    <div class="full-box">
        <label for="preco">Preço</label>
        <input class="half-box" type="text" name="preco" placeholder="Digite o preço do produto">
    </div>

    <div class="half-box spacing">
        <label for="tipo">Categoria</label>
        <input class="half-box" type="text" name="tipo" placeholder="Digite a categoria do produto">
    </div>

    <div class="full-box">
        <label for="imagem">Imagem</label>
        <input class="half-box" type="text" name="imagem" placeholder="Digite a url da imagem do produto">
    </div>



        <div class="full-box">
          <input id="btn-submit" type="submit" value="CADASTRAR"/>
        </div>
</form>
</div>

