<h1 class="text-contatos">Contatos</h1>
    <hr> <br>
    
    <div id="container3">
         
        <div class="email">
         <img src="https://uploaddeimagens.com.br/images/004/350/744/original/email.png?1676146045" alt="email">
              <p>depositozn@gmail.com</p>
        </div>

          <div class="zap">
            <img src="https://uploaddeimagens.com.br/images/004/350/747/original/wath.png?1676146091" alt="wath">
            <p>(21) 97407-7445</p>
        </div>

        <div class="instagram">
            <img src="https://uploaddeimagens.com.br/images/004/350/748/original/insta.png?1676146130" alt="insta">
            <p>@depositozn</p>
        </div>
    </div>
    

       