<div class="container marketing">
  <div class="row">
  <div class="col-lg-4">
  <img class="foto-equipe" src="https://uploaddeimagens.com.br/images/004/350/729/original/marcelo.jpg?1676144553"/>
  <h2 id="name-dev">Marcelo Gomes</h2>
    <p id="text-time">
       Diretor Nacional
      </p>
  </div>

  <div class="col-lg-4">
  <img class="foto-equipe" src="https://uploaddeimagens.com.br/images/004/350/727/original/hebert_dev.jpg?1676144537"/>
  <h2 id="name-dev">Hebert Garcia</h2>
    <p id="text-time">
       Diretor Regional
      </p>
  </div>
  </div>
  </div>