<h1 class="cadastro-text">Faça o seu Login:</h1>


<div id="main-container">
<form action="/login" method="POST" class="form" id="register-form" name="formCadastro"> 

    <div class="half-box spacing">
        <label for="cpf">CPF</label>
        <input class="half-box" type="number" name="cpf" placeholder="Digite o seu cpf" required>
    </div>

    <div class="full-box">
        <label for="password">Senha</label>
        <input class="half-box" type="password" name="password" placeholder="Digite a sua senha" required>
    </div>

        <div class="full-box">
          <input id="btn-submit" type="submit" value="Entrar"/>
        </div>

    <p>Não tem conta? <a href="/cadastro/usuario">Clique aqui</a></p>

</form>

<div>  
    {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{#if message}}
        <div class="message">
          {{message}}
        </div>
      {{/if}}
</div>

</div>