<div class="containersobrenos">

<h1 class="historia">NOSSA HISTÓRIA</h1>

<P id="text-nossahistoria">Nossa história começou em 2022 com a fundação do Depósito ZN no Rio de Janeiro. Desde então, estamos ao lado dos brasileiros, partilhando momentos, conversas e risadas. Como já faz muito tempo desde o início, vamos te mostrar os momentos que marcaram e construíram nossa história.... Tantos brindes, memórias e sabores.
    O Depósito ZN surgiu com apenas 2 pessoas, em uma mesa de bar da Brahma, daquelas dobráveis, de acordo com o CEO Marcelo Gomes e Co-Founder Hebert Garcia, que compartilhou um pouco sobre esse começo:
“A ideia em si já existia há um tempo antes de nascer o Depósito ZN. Quando começamos em 2022 éramos apenas 2 pessoas. Pegamos a ideia e fomos entender se de fato se encaixaria de alguma forma na vida das pessoas. Dividíamos as diversas funções que a criação de um MVP (mínimo produto viável) exigia, passando horas com um quadro branco desenhando possibilidades, analisando pesquisas e conversando com possíveis parceiros. Quando lançamos em 2022, criamos diversas telas que iam para o app e com o tempo ganhamos experiência e agilidade.”
</P>

</div>

<img class="img-sobrenos" src="https://uploaddeimagens.com.br/images/004/350/139/original/Amilton_Carvalho.png?1676075208" alt="logo">